a {
	text-decoration: none !important;
  }
  img::selection{
	  background: transparent;
  }

  body{
	  font-size: 14px;
	  background: #fff;
  }
  .progress-bar {
	height: 0.3rem;
	background: #f6c834;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
  }
  .search-input input:focus {
	border-color: #f6cf32;
	box-shadow: unset; }
	
  input:focus,
  button:focus,
  textarea:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline: none !important;
  }
  .menubar{
	  padding: 15px 15px 20px 15px;
	  border-bottom: 1px solid #E0E0E0;
  }
  .menubar .logobar{
	  display: inline-block;
	  margin-left: 80px;
  }
  .menubar ul{
	  display: inline-block;
	  padding: 0;
	  margin: 0;
  }
  .menubar ul li{
	  display: inline-block;
	  margin-left: 50px;
	  position: relative;
  }
  .menubar ul li a{
	  color: #333;
	  font-weight: 500;
  }
  .menubar ul li.active a{
	  font-weight: 700;
  }
  .menubar ul li.active::after{
	  content: "";
	  position: absolute;
	  bottom: -8px;
	  width: fit-content;
	  left: 0;
	  right: 0;
	  height: 2px;
	  background: #F6CF32;
  }
  .hero{
	  background: #FAFAFA;
	  padding: 20px 15px;
  }
  .hero img{
	  width: 100%;
	  height: 578px;
	  filter: brightness(0.4);
	  border-radius: 15px;
	  object-fit: cover;
  }
  .heroback{
	  position: relative;
  }
  .dots1{
	  position: absolute;
	  bottom: -50px;
	  left: 0;
	  width: auto!important;
	  height: auto!important;
	  filter: none!important;
	  border-radius: 0!important;
	  opacity: 0.5;
  }
  .herotext{
	  padding: 50px;
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  width: 100%;
  }
  .herosteps{
	  margin-top: 40px;
	  background: rgba(45,43,43,0.40);
	  padding: 70px 50px;
	  border-radius: 10px;
	  position: relative;
  }
  .herosteps .line{
	  width: 810px;
	  margin: 0 auto;
	  height: 3px;
	  border-bottom: 1px dashed #F6CF31;
  }
  .herosteps .row{
	  margin-top: -12px;
  }
  .herosteps svg{
	  color: #F6CF32;
  }
  .herosteps svg.active{
	  color: #7FF65C;
  }
  .steppost{
	  position: relative;
  }
  .steppost .steptitle1{
	  position: absolute;
	  top: -35px;
	  left: 0;
	  right: 0;
	  font-size: 14px;
  }
  .steppost .steptitle2{
	  position: absolute;
	  bottom: -38px;
	  left: 0;
	  background: #8F8F8F;
	  padding: 5px 15px;
	  border-radius: 50px;
	  right: 0;
	  display: table;
	  margin: 0 auto;
	  font-size: 12px;
	  font-weight: 500;
  }
  .steppost .steptitle1_2{
	  position: absolute;
	  bottom: -35px;
	  left: 0;
	  right: 0;
	  font-size: 14px;
  }
  .steppost .steptitle2_2{
	  position: absolute;
	  top: -38px;
	  left: 0;
	  background: #8F8F8F;
	  padding: 5px 15px;
	  border-radius: 50px;
	  right: 0;
	  display: table;
	  margin: 0 auto;
	  font-size: 12px;
	  font-weight: 500;
  }
  .box1{
	  margin-top: 50px;
  }
  .stepsimg{
	  display: block;
	  margin: 0 auto;
	  position: relative;
	  left: 56px;
	  z-index: -3;
	  width: 123px;
  }
  .box1sec1{
	  background: #f8f8f8;
	  padding: 20px;
	  border-radius: 10px;
  }
  .box1sec2 img{
	  width: 100%;
	  border-radius: 10px;
	  position: relative;
	  height: 100%;
	  object-fit: cover;
  }
  .box1sec3 h6{
	  border-right: 4px solid #F6CF32;
	  padding-right: 10px;
  }
  .box1sec3 p{
	  color: #757575;
	  font-size: 13px;
  }
  .sec3date{
	  padding: 0 100px 0 0;
	  font-weight: bold;
	  position: relative;
  }
  .sec3date p{
	  color: #000;
  }
  .sec3date2{
	  background: #DBDBDB;
	  padding: 10px 15px;
	  border-radius: 5px;
	  display: table;
	  position: absolute;
	  top: 0;
	  right: 0;
	  z-index: -2;
  }
  .sec3date2 svg{
	  position: absolute;
	  top: 8px;
	  right: 8px;
	  color: #d1d1d1;
	  z-index: -1;
  }
  .box1sec1 h6{
	  border-right: 4px solid #F6CF32;
	  padding-right: 10px;
  }
  .mizban{
	  position: relative;
	  padding-right: 50px;
	  margin-bottom: 10px;
  }
  .mizban img{
	  width: 40px;
	  height: 40px;
	  object-fit: cover;
	  border-radius: 100px;
	  position: absolute;
	  top: 3px;
	  right: 0;
  }
  .box1sec1 li{
	  display: inline-block;
	  font-weight: bold;
	  border-radius: 10px;
	  padding: 5px 10px;
	  background: #F6CF32;
	  max-width: 100%;
  }
  .box1sec1 li a{
	  color: #000;
  }
  .footer{
	  background: #242424;
	  padding: 50px 0 15px 0!important;
  }
  .footer li{
	  display: inline-block;
	  margin-left: 10px;
  }
  .footer li a{
	  color: #fff;
  }
  .footer li svg{
	  width: 20px;
	  height: 20px;
  }
  .footer h5{
	  position: relative;
	  padding-bottom: 5px;
  }
  .footer h5::after{
	  position: absolute;
	  width: 100px;
	  content: "";
	  height: 1px;
	  background: #313131;
	  bottom: -10px;
	  right: 0;
  }
  .footer ul{
	  padding: 0;
	  margin-top: 30px;
  }
  .footer ul li{
	  margin-bottom: 20px;
	  display: block;
	  cursor: pointer;
		transition: all .4s;
  }
  .footer ul li a{
	color: #fff;
}
.footer ul li:hover a{
	color: #f6c834;
  }
  .herosteps2{
	  margin-top: 40px;
	  background: #f8f8f8;
	  padding: 70px 50px;
	  border-radius: 10px;
	  position: relative;
	  display: none;
	  text-align: right!important;
  }
  .herosteps2 .line{
	  width: 1px;
	  margin: 0 auto;
	  height: 50%;
	  position: absolute;
	  border-right: 1px dashed #F6CF31;
	  top: 40px;
	  right: 29px;
  }
  .stepspost2 svg{
	  position: absolute;
	  top: 4px;
	  right: -28px;
	  color: #F6CF32;
  }
  .stepspost2 p,.stepspost2 h6{
	  display: table;
	  margin: 0 0 10px auto!important;
  }
  .stepspost2 p{
	  background: #8F8F8F!important;
	  color: #fff;
	  padding: 5px 15px;
	  border-radius: 100px;
  }
  .rec1{
	  position: absolute;
	  width: 80px;
	  height: 80px;
	  top: 0;
	  right: 0;
	  border-top: 10px solid #F64E4E;
	  border-right: 10px solid #F64E4E;
	  z-index: -1;
  }
  .rec1_1{
	  position: absolute;
	  top: 35px;
	  right: 25px;
	  z-index: -1;
  }
  .rec2{
	  position: absolute;
	  width: 80px;
	  height: 80px;
	  top: 0;
	  left: 0;
	  border-top: 10px solid #F64E4E;
	  border-left: 10px solid #F64E4E;
	  z-index: -1;
  }
  .rec3{
	  position: absolute;
	  width: 80px;
	  height: 80px;
	  bottom: -119px;
	  left: 0;
	  border-bottom: 10px solid #F64E4E;
	  border-left: 10px solid #F64E4E;
	  z-index: -1;
  }
  .rec4{
	  position: absolute;
	  width: 80px;
	  height: 80px;
	  bottom: -119px;
	  right: 0;
	  border-bottom: 10px solid #F64E4E;
	  border-right: 10px solid #F64E4E;
	  z-index: -1;
  }
  .resmenu{
	  position: fixed;
	  top: 0;
	  right: -500px;
	  width: 250px;
	  background: #fff;
	  z-index: 1000;
	  height: 100%;
	  max-width: 100%;
	  transition: 0.4s;
	  visibility: hidden;
	  opacity: 0;
  }
  .resmenu ul{
	  padding: 40px;
	  margin: 0;
  }
  .resmenu ul li{
	  margin-bottom: 10px;
	  font-size: 14px;
	  width: fit-content;
  }
  .resmenu ul li a{
	  color: #000;
	  padding: 5px;
	  margin-bottom: 10px;
	  font-weight: 500;
  }
  .resmenu ul li.active a{
	  font-weight: 600;
  }
  .closemenu{
	  position: fixed;
	  top: 0;
	  right: 0;
	  width: 100%;
	  background: #000000b8;
	  z-index: 999;
	  height: 100%;
	  transition: 0.4s;
	  visibility: hidden;
	  opacity: 0;
  }
  .resopen{
	  position: absolute;
	  top:12px;
	  left: 0;
	  display: none;
	  cursor: pointer;
  }
  .s6{
	  display: none;
  }
  @media(max-width:1400px){
	
	.herosteps .line {
		width: 675px!important;	
	}
}
  @media(max-width:1200px){
	
	  .herosteps .line {
		  width: 555px!important;	
	  }
	  .box1sec1 li{
		  display: inline-block;
		  margin:4px 0!important;
		  border-radius: 5px;
	  }
	  .s1{
		  display: none;
	  }
  }
  @media(max-width:992px){
	  .herosteps .line {
		  width: 345px!important;	
	  }
	  .hero img{
		  height: 600px!important;
	  }
	  .dots1{
		  display: none;
	  }
	  .box1sec1post{
		  background: #f8f8f8;
		  padding: 20px;
		  border-radius: 10px;
	  }
	  .box1sec1{
		  background: none;
		  padding: 0 15px;
	  }
	  .box1sec2 img{
		  max-width: 100%!important;
		  width: auto;
	  }
	  .s2{
		  margin-bottom: 40px;
	  }
	  .s3{
		  display: none;
	  }
	  .s4{
		  margin-top: 212px!important;
	  }
	  .resopen{
		  display: block;
	  }
	  .menubar ul{
		  display: none;
	  }
	  .footer .col-lg-4,.col-lg-2{
		  text-align: center!important;
	  }
	  .footer h5::after{
		  left: 0;
		  display: block;
		  margin: 0 auto;
	  }
  }
  @media(max-width:768px){
	.first-circle
	{
	  display: none;
	  overflow: hidden;
	}
	  .logobar{
		  margin-left: 20px!important;
	  }
	  .menubar ul li{
		  margin-left: 18px!important;
	  }
	  .herosteps{
		  display: none;
	  }
	  .herosteps2{
		  display: block;
	  }
	  .hero img{
		  height: 500px!important;
	  }
	  .herosteps2 .line{
		  top: 77px;
		  right: 29px;
		  height: 70%;	
	  }
	  .s5{
		  display: none;
	  }
	  .s6{
		  display: block;
	  }
  }
  @media(max-width:500px){
	  .herotext{
		  padding: 20px;
		  margin-top: 20px;
	  }
  }
  .copy-right{
	color: #fff;
	border-top: 1px solid #313131;
	 padding: 30px 15px 0 15px;
  }
  .back-to-top {
	right: 2rem;
	bottom: 2rem;
	padding: 0.5rem;
	border: none;
	cursor: pointer;
	opacity: 100%;
	transition: opacity 0.5s;
  }
    .progress-bar {
	height: 0.3rem;
	background: #f6c834;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
  }


























  body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    direction: rtl;
    text-align: right;
    line-height: 1.8;
  }
  .contact-form-overlay {
    visibility: hidden;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color:rgba(0, 0, 0, 0.9);
    opacity: 0;
  }
  
  .contact-form-overlay.active {
    visibility: visible;
    opacity: 0.8;
  }
  

  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*header styles*/
  header .logoIcon,header svg{
  width: 74px;
  height: 74px;
  cursor: pointer;
  }
  header ul li a{
  display: block;
  position: relative;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  }
  header ul li a:after{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #e6c518;
  right: 0;
  bottom: -5px;
  transition: all .4s;
  }
  header ul li a:hover:after,header ul li a.active:after,header ul li a:hover{
  width: 100%;
  color: #000000;
  }
  header .headerBorderDivider{
  height: 1px;
  width: 100%;
  background: lightgray;
  margin-top: 23px;
  }
  header .searchHeader{
  width: 100%;
  height: 64px;
  background: #F8F8F8 0 0 no-repeat padding-box;;
  }
  header .searchHeader> div >div{
  border: 1px solid #D6D6D6;
  border-radius: 20px;
  opacity: 1;
  width: 434px;
  height: 38px;
  display: flex;
  }
  header .searchHeader> div >div input{
  outline: none;
  padding-right: 34px;
  }
  header .searchHeader> div >div img{
  top: 13px;
  right: 11px;
  width: 14px;
  height: 14px;
  background: transparent url('../images/search.png') 0 0 no-repeat padding-box;
  opacity: 1;
  }
  header #darkbg{
  inset: 0;
  background: #00000069;
  z-index: 9;
  display: none;
  transition: all .7s;
  }
  header #darkbg.active{
  display: block;
  }
  header .mobileMenu{
  position: absolute;
  right: -400px;
  transition: all .4s;
  line-height: 65px;
  background: white;
  z-index: 99;
  top: 0;
  bottom: 0;
  }
  header .mobileMenu.active{
  position: absolute;
  right: 0;
  transition: all .4s;
  background: white;
  z-index: 99;
  top: 0;
  bottom: 0;
  }
  
  /*footer styles*/
  
  footer{
      background: #242424;
      color: lightgray;
  }
  footer ul{
      line-height: 42px;
  }
  footer ul li{
      cursor: pointer;
  }
  footer >div>div{
      width: 299px;
      margin-bottom: 33px;
  }
  footer h6{
      border-bottom: 1px solid gray;
  }
  footer .socials a{
      margin: 2px 8px;
      cursor: pointer;
  }
  footer .footerBorderDivider{
      height: 1px;
      width: 100%;
      background: gray
  }
  
  /*responsive*/
  
  @media screen and (max-width: 576px){
  header .position-relative{
      width: 100%!important;
  }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  /*header styles*/
  header .logoIcon,header svg{
    width: 74px;
    height: 74px;
    cursor: pointer;
  }
  header ul li a{
    display: block;
    position: relative;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }
  header ul li a:after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #e6c518;
    right: 0;
    bottom: -5px;
    transition: all .4s;
  }
  header ul li a:hover:after,header ul li a.active:after,header ul li a:hover{
    width: 100%;
    color: #000000;
  }
  header .headerBorderDivider{
    height: 1px;
    width: 100%;
    background: lightgray;
    margin-top: 23px;
  }
  header .searchHeader{
    width: 100%;
    height: 64px;
    background: #F8F8F8 0 0 no-repeat padding-box;;
  }
  header .searchHeader> div >div{
    border: 1px solid #D6D6D6;
    border-radius: 20px;
    opacity: 1;
    width: 434px;
    height: 38px;
    display: flex;
  }
  header .searchHeader> div >div input{
  outline: none;
    padding-right: 34px;
  }
  header .searchHeader> div >div img{
    top: 13px;
    right: 11px;
    width: 14px;
    height: 14px;
    background: transparent url('../images/search.png') 0 0 no-repeat padding-box;
    opacity: 1;
  }
  header #darkbg{
    inset: 0;
    background: #00000069;
    z-index: 9;
    display: none;
    transition: all .7s;
  }
  header #darkbg.active{
    display: block;
  }
  header .mobileMenu{
   position: absolute;
    right: -400px;
    transition: all .4s;
    line-height: 65px;
    background: white;
    z-index: 99;
    top: 0;
    bottom: 0;
  }
  header .mobileMenu.active{
    position: absolute;
    right: 0;
    transition: all .4s;
    background: white;
    z-index: 99;
    top: 0;
    bottom: 0;
  }
  
  /*footer styles*/
  
    footer{
        background: #242424;
        color: lightgray;
    }
    footer ul{
        line-height: 42px;
    }
    footer ul li{
        cursor: pointer;
    }
    footer >div>div{
        width: 299px;
        margin-bottom: 33px;
    }
    footer h6{
        border-bottom: 1px solid gray;
    }
    footer .socials a{
        margin: 2px 8px;
        cursor: pointer;
    }
    footer .footerBorderDivider{
        height: 1px;
        width: 100%;
        background: gray
    }
  
  /*responsive*/
  
  @media screen and (max-width: 576px){
    header .position-relative{
        width: 100%!important;
    }
  }