/* footer section */

.footer{
	background: #242424;
	padding: 50px 0 15px 0!important;
}

.footer li{
	display: inline-block;
	margin-left: 10px;
}

.footer li a{
	color: #fff;
}

.footer li svg{
	width: 20px;
	height: 20px;
}

.footer h5{
	position: relative;
	padding-bottom: 5px;
}

.footer h5::after{
	position: absolute;
	width: 100px;
	content: "";
	height: 1px;
	background: #313131;
	bottom: -10px;
	right: 0;
}

.footer ul{
	padding: 0;
	margin-top: 30px;
}

.footer ul li{
	margin-bottom: 20px;
	display: block;
	cursor: pointer;
	transition: all .4s;
}

.footer ul li a{
  color: #fff;
}

.footer ul li:hover a{
  color: #f6c834;
}

.copy-right{
  color: #fff;
  border-top: 1px solid #313131;
  padding: 30px 15px 0 15px;
}

/* @media(max-width:1400px){

}
  @media(max-width:1200px){	

} */

  @media(max-width:992px){
	  .resopen{
		  display: block;
	  }
	  .menubar ul{
		  display: none;
	  }
	  .footer .col-lg-4,.col-lg-2{
		  text-align: center!important;
		  margin-bottom: 60px;
		  
	  }
	  .footer h5::after{
		  left: 0;
		  display: block;
		  margin: 0 auto;
	  }
}

@media(max-width:768px){

	.logobar{
		margin-left: 20px!important;
	}

	.menubar ul li{
		margin-left: 18px!important;
	}
}

  /* @media(max-width:500px){

  } */