.menubar{
	  padding: 15px 15px 20px 15px;
	  border-bottom: 1px solid #E0E0E0;
}

.menubar .logobar{
	  display: inline-block;
	  margin-left: 80px;
}

.menubar ul{
	  display: inline-block;
	  padding: 0;
	  margin: 0;
  }
  .menubar ul li{
	  display: inline-block;
	  margin-left: 50px;
	  position: relative;
  }
  .menubar ul li a{
	  color: #333;
	  font-weight: 500;
  }
  .menubar ul li.active a{
	  font-weight: 700;
  }
  .menubar ul li.active::after{
	  content: "";
	  position: absolute;
	  bottom: -8px;
	  width: fit-content;
	  left: 0;
	  right: 0;
	  height: 2px;
	  background: #F6CF32;
  }



  .resmenu{
	  position: fixed;
	  top: 0;
	  right: -500px;
	  width: 250px;
	  background: #fff;
	  z-index: 1000;
	  height: 100%;
	  max-width: 100%;
	  transition: 0.4s;
	  visibility: hidden;
	  opacity: 0;
  }
  .resmenu ul{
	  padding: 40px;
	  margin: 0;
  }
  .resmenu ul li{
	  margin-bottom: 10px;
	  font-size: 14px;
	  width: fit-content;
  }
  .resmenu ul li a{
	  color: #000;
	  padding: 5px;
	  margin-bottom: 10px;
	  font-weight: 500;
  }
  .resmenu ul li.active a{
	  font-weight: 600;
  }
  .closemenu{
	  position: fixed;
	  top: 0;
	  right: 0;
	  width: 100%;
	  background: #000000b8;
	  z-index: 999;
	  height: 100%;
	  transition: 0.4s;
	  visibility: hidden;
	  opacity: 0;
  }
  .resopen{
	  position: absolute;
	  top:12px;
	  left: 0;
	  display: none;
	  cursor: pointer;
  }


  /* @media(max-width:1400px){
	
} */

  /* @media(max-width:1200px){
	
  } */

  @media(max-width:992px){
	  .resopen{
		  display: block;
	  }
	  .menubar ul{
		  display: none;
	  }

  }


  @media(max-width:500px){
	  .herotext{
		  padding: 20px;
		  margin-top: 20px;
	  }
  }

header svg{
    width: 74px;
    height: 74px;
    cursor: pointer;
    }
    header ul li a{
    display: block;
    position: relative;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    }
    header ul li a:after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #e6c518;
    right: 0;
    bottom: -5px;
    transition: all .4s;
    }
    header ul li a:hover:after,header ul li a.active:after,header ul li a:hover{
    width: 100%;
    color: #000000;
    }
    
    /*responsive*/
    
    @media screen and (max-width: 576px){
    header .position-relative{
        width: 100%!important;
    }
    }
  
  /* .contact-form-overlay {
    visibility: hidden;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color:rgba(0, 0, 0, 0.9);
    opacity: 0;
  }
  
  .contact-form-overlay.active {
    visibility: visible;
    opacity: 0.8;
  }
  
  img::selection{
    background: transparent;
  } */